
.project-card {
    width: 100%;
    margin: 20px 0;
}

.one-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    padding: 5px 0px;
}

.one-line-item {
    align-self: flex-end;
}

.project-dates {
    text-align: right;
}

.link-color {
    color: var(--accent);
}

.summary {
    padding: 10px 0px;
}

.project-media-container {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    /* justify-content: space-between; */
}

.project-media {
    position: relative;
    display: block;
    max-width: 100%;
    flex: 1;
}

.project-img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.divider {
    margin: 10px;
}