.cards {

}

/* ul{
  list-style-type:none;
} */

.cards__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.cards__items{
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column wrap;
  margin: 0 10px;
  min-width: 200px;
}

.cards__items_1, .cards__items_2, .cards__items_3{
  width: 32%;
}

.cards__items_1, .cards__items_2{
  margin-right: 2%;
}

.cards__item {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  /* overflow: visible; */
} 

.cards__item__img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 750px) {
  .cards__items_1, .cards__items_2, .cards__items_3{
    width: 100%;
  }
}